/* cardsContainer */
body {
    background-color: #dce0e6; /* Color de fondo deseado para toda la página */
    margin: 0; /* Eliminamos el margen predeterminado del body */
  }

  .container-principal {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinear los elementos en la parte superior del contenedor */
    align-items: flex-end; /* Alinear los elementos a la derecha del contenedor */
    padding-top: 20%; /* Ajustar el padding superior según la distancia vertical que desees desde arriba */
    padding-right: 20px; /* Ajustar el padding derecho según la distancia horizontal que desees desde la derecha */
    overflow-y: auto; /* Permitir el desplazamiento vertical si el contenido excede la altura del contenedor */
    position: relative; /* Agregar posición relativa para que el .wrapper esté posicionado de acuerdo con este contenedor */

  }
  
  .wrapper {
    position: absolute; /* Cambiar a posición absoluta para que el .wrapper sea posicionado en relación con el .container-principal */
    top: 30%;
    left: 50%;
    transform: translateX(-40%);
    z-index: 1; /* Asegurar que el .wrapper esté por encima del contenido dentro del .container */
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrar las tarjetas horizontalmente */
    gap: 20px;
    max-width: 900px; /* Ancho máximo del contenedor */
    width: 200%; /* Asegurar que el contenedor ocupe todo el ancho disponible */
    padding: 50px 20px; /* Ajustar los paddings superior e inferior según sea necesario */

  }
  