
body {
    background-color: #dce0e6; /* Color de fondo deseado para toda la página */
    margin: 0; /* Eliminamos el margen predeterminado del body */
  }
  
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    background-color: #dce0e6;
    padding-top: 8em;
    padding-left: 9em;
    padding-right: 3em;

}