/* cardsContainer */
body {
    background-color: #dce0e6; /* Color de fondo deseado para toda la página */
    margin: 0; /* Eliminamos el margen predeterminado del body */
  }
  
.mainContainer{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinear los elementos en la parte superior del contenedor */
    align-items: center; /* Alinear los elementos a la derecha del contenedor */
  }
  
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrar las tarjetas horizontalmente */
    gap: 20px;
    max-width: 900px; /* Ancho máximo del contenedor */
    width: 200%; /* Asegurar que el contenedor ocupe todo el ancho disponible */
    padding: 50px 20px; /* Ajustar los paddings superior e inferior según sea necesario */

  }
  