/* 
    #dce0e6
    #606d80
    #567ebb
    #2b4c7e
    #1f1f20
*/
.carrusel{
    position: relative;
    display: flex;
    flex-direction: column ;
    justify-content: end;
    width: 95%;
    height: 60vh;
    max-width: 120em;
    border-radius: 10px;
    background-color: #dce0e6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),  4px 6px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}
.image_conteiner{
    background-color: #1a1a1a;
    height: 85%;
    width: 300%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    transition: all .5s ease;
    transform: translate(0%);

}
.back{
    font-size: 70px;
    position: absolute;
    top: 237px;
    left: 20px;
    color: #fcfcfc;
    cursor: pointer;
    z-index: 500;

}
.next{
    font-size: 70px;
    position: absolute;
    top: 230px;
    left: 843px;
    color: #fcfcfc;
    cursor: pointer;
    z-index: 500;


}
.image_conteiner img{
    height: 100%;
    width: calc(100% / 3);
    background-color: green;
    border-radius: 10px;
}
.puntos{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #dce0e6;
    padding: 1em;
    border-radius: 10px;
    box-shadow: #fcfcfc;
}
.punto{
    width: 1em;
    height: 1em;
    background-color: #606d80;
    margin-left: 20px;
    border-radius: 100%;
    cursor: pointer;

}
.puntoSelect{
    width: 1em;
    height: 1em;
    background-color: #1f1f20;
    margin-left: 20px;
    border-radius: 100%;
}
li :hover{
    background-color: none;
}