.carrusel{
    display: flex;
    flex-direction: column ;
    justify-content: end;
    width: 95%;
    height: 60vh;
    max-width: 120em;
    border-radius: 10px;
    background-color: #fcfcfc;
    margin-top: 30px ;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),  4px 6px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}
.image_conteiner{
    background-color: #1a1a1a;
    height: 85%;
    width: 300%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    transition: all .5s ease;
    transform: translate(0%);

}
.image_conteiner img{
    height: 100%;
    width: calc(100% / 3);
    background-color: green;
    border-radius: 10px;
}
.puntos{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fcfcfc;
    padding: 1em;
    border-radius: 10px;
    box-shadow: #fcfcfc;
}
.punto{
    width: 1em;
    height: 1em;
    background-color: #3d3a50;
    margin-left: 20px;
    border-radius: 100%;

}
.puntoSelect{
    width: 1em;
    height: 1em;
    background-color: #580EF6;
    margin-left: 20px;
    border-radius: 100%;
}
li :hover{
    background-color: none;
}