/* Navbar.css */
.navbar {
  background-color: #2b4c7e;
  color: #fff;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #606D80; /* Agregamos una línea de color #580ef6 y grosor de 2px en la parte inferior */
  overflow-x: hidden;
}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

.nav-menu {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #580ef6;
}
