 /* Filters.css */

 .container {
  /* Utilizamos position: fixed para posicionar el contenedor */
  /* top: 9%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #2b4c7e;
  padding: 70px;
  left: 0;
  gap: 0px; */
  /* A침adimos un espacio de 7px entre los elementos */
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0px;
  background-color:  #2b4c7e;
  left: 0; */
  
    background-color: #2b4c7e;
    color: #fff;
    padding: 20px;
    width: 200px;
    position: fixed; /* Agrega posici칩n fija */
    top: 0; /* Ajusta la posici칩n vertical en la parte superior */
    left: 0; /* Ajusta la posici칩n horizontal en la parte izquierda */
    bottom: 0; /* Ajusta la altura del contenedor para ocupar toda la altura disponible */
    margin-top: 5%;
}

.label {
  font-size: 14px;
  color: white;
  margin-right: 8px;
  font-weight: bold; 
}
.selectContainer {  
  position: relative;
  margin-bottom: 30px; 
}

.select {
  width: 158px;
  height: 40px;
  padding: 8px;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: white;
  font-size: 14px;
  appearance: none;
  cursor: pointer;
  text-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #606D80;


}

.select option {
  background-color: #3d3a50;
  color: white;
}

.select:focus {
  outline: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.selectContainer::after {
  content: "\25BE";
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  pointer-events: none;
  color: white;
}

.btn {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: #606D80;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 40px;

}

.btn:hover {
  background-color: #2d2b3a;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* sdasdas */
/* Filters.module.css */

/* Estilos para el contenedor principal */
