/* pagination */
/* .btn {
  background-color: #567ebb;
  color: #fff;
  border: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 50%;
}

.btn:hover {
  background-color: #2b4c7e;
}

.handlerCont {
    width: 30px;
      display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 14px;
    
  }
  
.pageIndicator {
    width: 30px;
    height: 30px;
    background-color: #567ebb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
  } */

.paginationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  /* Puedes ajustar el margen inferior según tu preferencia */
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  /* Puedes ajustar el margen inferior entre los botones y el label */
  margin-top: 75%;
  gap: 20px;
  font-size: 17px;
  margin-left: 20%;
}

.btn {
  /* Estilos para los botones, según tu preferencia */
  background-color: #567ebb;
  color: #fff;
  border: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  
}


.btn:hover {
  background-color: #2b4c7e;
}

.pageIndicator {
  width: 30px;
  height: 30px;
  background-color: #567ebb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
}