/* cards module.css */
.titulo{
    font-size: 18px;
    font-weight: bold;
}

.carta {

    width: 17rem;
    margin-bottom: 20px;
    /* Agregar sombra */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden; /* Evitar que la sombra se salga de la carta */
    /* margin-right: 40px; */
}

/* Efecto de hover */
.carta:hover {
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.15);
    transform: translateY(-6px) scale(1.02);
}

/* Pseudo-elemento para superponer contenido */
.carta::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6));
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.carta:hover::before {
    opacity: 1;
}

.ayuda{
    flex: 1 1 300px; /* Permitir que las tarjetas se expandan y ocupen el espacio */

    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    grid-row: 0;
}