/* 
    #dce0e6
    #606d80
    #567ebb
    #2b4c7e
    #1f1f20
*/
.landing {
    background-color: #567ebb;
    display: flex;
    width: 100%;
    height: 100vh;
}

.col1 {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    height: 100%;
}

.col2 {
    height: 100%;
    width: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 30px;
    
}

.title_landing {
    margin-top: 200px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    


}
.description_landing{
    margin-top: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;

}

.col2 button {
    font-size: 25px;
    background-color: #dce0e6;
    padding-left: 25px;
    padding-right: 25px;
    border: #2b4c7e 2px solid;
    border-radius: 10px;
    
    &:hover {
        background-color: #2b4c7e;
        color: #fcfcfc;
    }


}