/* 
    #dce0e6
    #606d80
    #567ebb
    #2b4c7e
    #1f1f20
*/
.landing{
    background-color: #1a1a1a;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column ;
    width: 100%;
    height: 100vh;
    max-width: 120em;
    border-radius: 10px;
    overflow: hidden;
    flex-flow: column nowrap;
    align-items: center;
}
.row2{
    display: flex;
    justify-content: center;
    align-items: start;
    max-width: 70%;
    height: 600px;
}
.row3{
    height: 10%;
    width: 100vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 30px;
}
.row1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: none;
    width: 100vw;
    height: 180px;
    background-color: #fcfcfc;
    
}
.row1 img{
    height: 100px;
}

.row3 button{
    background-color:#fcfcfc;
    color: #580EF6;
    padding: 20px;
    font-size: 30px;
    border-radius: 10%;
    transition: background-color 0.3s ease;
    &:hover{
        background-color: #580EF6;
        color:#fcfcfc ;
    }


}